.menu {
	background-image: -webkit-gradient(
	linear,
	right top,
	left top,
	color-stop(0, #EADDBE),
	color-stop(1, #F0F011)
);
background-image: -o-linear-gradient(left, #EADDBE 0%, #F0F011 100%);
background-image: -moz-linear-gradient(left, #EADDBE 0%, #F0F011 100%);
background-image: -webkit-linear-gradient(left, #EADDBE 0%, #F0F011 100%);
background-image: -ms-linear-gradient(left, #EADDBE 0%, #F0F011 100%);
background-image: linear-gradient(to left, #EADDBE 0%, #F0F011 100%);
}

.menu a {
	margin-left: 10px;
}

.mainThread {
	border-style: solid;
	padding: 8px;
	background-color: yellow;
}

.subThread {
	background-color: red;
	padding-left: 10px;
}

.subThreads {
	width: 60%;
	margin-bottom: 100px;
}

body {

	background: #b4df5b; /* Old browsers */
background: -moz-linear-gradient(45deg,  #b4df5b 0%, #b4df5b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#b4df5b), color-stop(100%,#b4df5b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  #b4df5b 0%,#b4df5b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  #b4df5b 0%,#b4df5b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  #b4df5b 0%,#b4df5b 100%); /* IE10+ */
background: linear-gradient(45deg,  #b4df5b 0%,#b4df5b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4df5b', endColorstr='#b4df5b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	background-color: #31B404;
	width: 100%;
	height: 90%;
}

.menu {
    -moz-border-radius: .6em;
    -webkit-border-radius: .6em;
    border-radius: .6em;
	border-style: dashed;
	border-width: thin 0px thin 0px;
	width: 98%;
	height: 30px;
	padding: 0px, 0px, 0px, 0px,;
	background-color: #DBF7A2;
}

.header {
	border-style: none;
	border-width: inherit;
	width: 100%;
	height: 130px;
	padding: 0px, 0px, 0px, 0px,;
	background-color: #DBF7A2;
}

.main {
	border-style: none;
	border-width: inherit;
	width: 100%;
	height: 100%;
	padding: 0px, 0px, 0px, 0px,;
}

.footer {
	border-style: dashed;
	border-width: thin 0px 0px 0px;
	width: 100%;
	height: 105px;
	padding: 0px, 0px, 0px, 0px,;
	background-color: #DBF7A2;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	font-weight: normal;
	font-style: oblique;
	font-variant: normal;
	text-transform: inherit;
	text-decoration: underline;
}

.one {
	font-family: 'Times New Roman', Times, serif;
	font-size: small;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}