.menu {
background: rgb(25,209,206);
background: -moz-linear-gradient(left, rgba(25,209,206,1) 0%, rgba(162,239,45,1) 29%, rgba(39,178,206,1) 66%, rgba(35,247,7,1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(25,209,206,1)), color-stop(29%,rgba(162,239,45,1)), color-stop(66%,rgba(39,178,206,1)), color-stop(100%,rgba(35,247,7,1)));
background: -webkit-linear-gradient(left, rgba(25,209,206,1) 0%,rgba(162,239,45,1) 29%,rgba(39,178,206,1) 66%,rgba(35,247,7,1) 100%);
background: -o-linear-gradient(left, rgba(25,209,206,1) 0%,rgba(162,239,45,1) 29%,rgba(39,178,206,1) 66%,rgba(35,247,7,1) 100%);
background: -ms-linear-gradient(left, rgba(25,209,206,1) 0%,rgba(162,239,45,1) 29%,rgba(39,178,206,1) 66%,rgba(35,247,7,1) 100%);
background: linear-gradient(to right, rgba(25,209,206,1) 0%,rgba(162,239,45,1) 29%,rgba(39,178,206,1) 66%,rgba(35,247,7,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19d1ce', endColorstr='#23f707',GradientType=1 );
        -moz-border-radius: .6em;
    -webkit-border-radius: .6em;
    border-radius: .6em;
	border-style: transparent;
	border-width: 3px;
	width: 98%;
	padding: 0px 0px 0px 0px,;
	-moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
	clear: both;
}

.customfieldlist {
        border: 2px solid;
    border-radius: 30px;
    border-color: transparent;
        max-width: 50%;
    width: auto;
    margin-left: 5%;
    margin-top:1%;
    margin-bottom: 1%;
background: -moz-linear-gradient(-45deg, rgba(201,249,97,0.82) 2%, rgba(71,183,97,0.82) 54%, rgba(123,185,226,0.82) 98%, rgba(125,185,232,0) 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(2%,rgba(201,249,97,0.82)), color-stop(54%,rgba(71,183,97,0.82)), color-stop(98%,rgba(123,185,226,0.82)), color-stop(100%,rgba(125,185,232,0)));
background: -webkit-linear-gradient(-45deg, rgba(201,249,97,0.82) 2%,rgba(71,183,97,0.82) 54%,rgba(123,185,226,0.82) 98%,rgba(125,185,232,0) 100%);
background: -o-linear-gradient(-45deg, rgba(201,249,97,0.82) 2%,rgba(71,183,97,0.82) 54%,rgba(123,185,226,0.82) 98%,rgba(125,185,232,0) 100%);
background: -ms-linear-gradient(-45deg, rgba(201,249,97,0.82) 2%,rgba(71,183,97,0.82) 54%,rgba(123,185,226,0.82) 98%,rgba(125,185,232,0) 100%);
background: linear-gradient(135deg, rgba(201,249,97,0.82) 2%,rgba(71,183,97,0.82) 54%,rgba(123,185,226,0.82) 98%,rgba(125,185,232,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1c9f961', endColorstr='#007db9e8',GradientType=1 );
}

.customfield:hover {
    background: -moz-linear-gradient(-45deg, rgba(247,179,96,0.82) 2%, rgba(70,162,181,0.82) 54%, rgba(123,184,230,0.82) 98%, rgba(125,185,232,0) 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(2%,rgba(247,179,96,0.82)), color-stop(54%,rgba(70,162,181,0.82)), color-stop(98%,rgba(123,184,230,0.82)), color-stop(100%,rgba(125,185,232,0)));
background: -webkit-linear-gradient(-45deg, rgba(247,179,96,0.82) 2%,rgba(70,162,181,0.82) 54%,rgba(123,184,230,0.82) 98%,rgba(125,185,232,0) 100%);
background: -o-linear-gradient(-45deg, rgba(247,179,96,0.82) 2%,rgba(70,162,181,0.82) 54%,rgba(123,184,230,0.82) 98%,rgba(125,185,232,0) 100%);
background: -ms-linear-gradient(-45deg, rgba(247,179,96,0.82) 2%,rgba(70,162,181,0.82) 54%,rgba(123,184,230,0.82) 98%,rgba(125,185,232,0) 100%);
background: linear-gradient(135deg, rgba(247,179,96,0.82) 2%,rgba(70,162,181,0.82) 54%,rgba(123,184,230,0.82) 98%,rgba(125,185,232,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1f7b360', endColorstr='#007db9e8',GradientType=1 );

}
.menu > .left {
float: left;
display: block;
width: 70%;
}
.menu > .right {
float: right;
display: block;
width: 30%;
max-width: 240px;
}
@media screen and (min-width:1700px) {
	.menu > .right {
		max-width: 480px;
	}
}
.menu a {
	margin: 8px 0 0 6px;
}
.menu > .right a {
	float: right;
	min-width: 70px;
	margin: 8px 6px 0 0;
}

.clear {
height: 8px;
	clear: both;
}
.mainThread {
	border-style: solid;
	padding: 8px;
	background-color: yellow;
}

.subThread {
	background-color: red;
	padding-left: 10px;
}

.subThreads {
	width: 60%;
	margin-bottom: 100px;
}

body {

background: rgb(81,255,98);
background: -moz-linear-gradient(left, rgba(81,255,98,1) 0%, rgba(91,229,73,1) 21%, rgba(195,211,69,1) 41%, rgba(82,191,165,1) 66%, rgba(33,239,184,1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(81,255,98,1)), color-stop(21%,rgba(91,229,73,1)), color-stop(41%,rgba(195,211,69,1)), color-stop(66%,rgba(82,191,165,1)), color-stop(100%,rgba(33,239,184,1)));
background: -webkit-linear-gradient(left, rgba(81,255,98,1) 0%,rgba(91,229,73,1) 21%,rgba(195,211,69,1) 41%,rgba(82,191,165,1) 66%,rgba(33,239,184,1) 100%);
background: -o-linear-gradient(left, rgba(81,255,98,1) 0%,rgba(91,229,73,1) 21%,rgba(195,211,69,1) 41%,rgba(82,191,165,1) 66%,rgba(33,239,184,1) 100%);
background: -ms-linear-gradient(left, rgba(81,255,98,1) 0%,rgba(91,229,73,1) 21%,rgba(195,211,69,1) 41%,rgba(82,191,165,1) 66%,rgba(33,239,184,1) 100%);
background: linear-gradient(to right, rgba(81,255,98,1) 0%,rgba(91,229,73,1) 21%,rgba(195,211,69,1) 41%,rgba(82,191,165,1) 66%,rgba(33,239,184,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51ff62', endColorstr='#21efb8',GradientType=1 );

	background-color: #31B404;
	width: 98%;
	height: 90%;
}



.header {
	border-style: none;
	border-width: inherit;
	width: 100%;
	height: 130px;
	padding: 0px, 0px, 0px, 0px,;
	background-color: #DBF7A2;
}

.main {
	border-style: none;
	border-width: inherit;
	width: 100%;
	height: 100%;
	padding: 0px, 0px, 0px, 0px,;
}

.footer {
	border-style: dashed;
	border-width: thin 0px 0px 0px;
	width: 100%;
	height: 105px;
	padding: 0px, 0px, 0px, 0px,;
	background-color: #DBF7A2;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	font-weight: normal;
	font-style: oblique;
	font-variant: normal;
	text-transform: inherit;
	text-decoration: underline;
}

.one {
	font-family: 'Times New Roman', Times, serif;
	font-size: small;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

.editor {
    
    width: 70%;  
    border:ridge; 
    border-color:green;
    background-color: #f0f0f0;
    
}
